.find-page svg {
  font-size: 5em;
  color: #000000;
}

.find-page svg:hover {
  color: grey;
}

.responsive-header {
  font-size: 2em;
}

@media all and (max-width: 425px) {
  .responsive-header {
    font-size: 1.25em;
  }

  .find-page svg {
    font-size: 3em;
  }
}
